{{define "adminAddTeacher.layout"}}
    {{template "navbar.html" .User}}
    {{template "adminAddTeacher" .}}
    {{template "footer"}}
{{end}}

{{define "adminAddTeacher"}}
    <div class="container py-5">
        <div class="row">
            <div class="offset-md-2 col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4 class="card-title text-uppercase">Add Teacher</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/admin/teacher/new" id="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="firstname">First Name</label>
                                        <input
                                                type="text"
                                                id="firstname"
                                                name="firstname"
                                                placeholder="First Name"
                                                class="form-control"
                                                aria-describedby="inputGroupPrepend"
                                                required
                                        />
                                        <div class="invalid-feedback">
                                            Please enter first name.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="lastname">Middle Name</label>
                                        <input
                                                type="text"
                                                id="lastname"
                                                name="middlename"
                                                placeholder="Last Name"
                                                class="form-control"
                                                aria-describedby="inputGroupPrepend"
                                                required
                                        />
                                        <div class="invalid-feedback">
                                            Please enter middle name.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input
                                                type="email"
                                                class="form-control"
                                                id="email"
                                                name="email"
                                                placeholder="email address"
                                                aria-describedby="inputGroupPrepend"
                                                required
                                        />
                                        <div class="invalid-feedback">
                                            Please provide a valid email.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input
                                                type="password"
                                                id="password"
                                                name="password"
                                                placeholder="Password"
                                                class="form-control"
                                                aria-describedby="inputGroupPrepend"
                                                required
                                        />
                                        <div class="invalid-feedback">
                                            Please enter your password.
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-sm-4 col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="password">Subject Id</label>
                                        <input
                                                type="password"
                                                id="password"
                                                name="subjectid"
                                                placeholder="Password"
                                                class="form-control"
                                                aria-describedby="inputGroupPrepend"
                                                required
                                        />
                                        <div class="invalid-feedback">
                                            Please enter your password.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="password">Class Room Id</label>
                                        <input
                                                type="password"
                                                id="password"
                                                name="classroomid"
                                                placeholder="Password"
                                                class="form-control"
                                                aria-describedby="inputGroupPrepend"
                                                required
                                        />
                                        <div class="invalid-feedback">
                                            Please enter your password.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xs-12">
                                    <div class="float-right">
                                        <button class="btn btn-danger rounded-0" type="button">
                                            Cancel
                                        </button>
                                        <button class="btn btn-primary rounded-0" type="submit">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        (function () {
            "use strict";
            window.addEventListener(
                "load",
                function () {
                    var form = document.getElementById("needs-validation");
                    form.addEventListener(
                        "submit",
                        function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add("was-validated");
                        },
                        false
                    );
                },
                false
            );
        })();
    </script>


{{end}}
