{{define "footer"}}
    <footer>
        <div class="jumbotron bg-dark mb-0">
            <div class="container-fluid text-center">
                <div class="mb-4">
                    <a href="#" class="text-white mr-4"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-white mr-4"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="#" class="text-white mr-4"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#" class="text-white mr-4"><i class="fab fa-pinterest fa-lg"></i></a>
                    <a href="#" class="text-white mr-4"><i class="fab fa-youtube fa-lg"></i></a>
                </div>

                <h5 class="text-white text-center mb-4">&copy; 2019 LOGO</h5>
                <div class="footerLinks">
                    <a href="#" class="text-white mr-lg-5 mr-sm-3 mr-2">About LOGO</a>
                    <a href="#" class="text-white mr-lg-5 mr-sm-3 mr-2">Jobs</a>
                    <a href="#" class="text-white mr-lg-5 mr-sm-3 mr-2">Contact</a>
                    <a href="#" class="text-white mr-lg-5 mr-sm-3 mr-2">Activity Library</a>
                    <a href="#" class="text-white mr-lg-5 mr-sm-3 mr-2">Store</a>
                    <a href="#" class="text-white mr-lg-5 mr-sm-3 mr-2">Help Center</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
    </body>
    </html>
{{end}}