<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/loginpage.css"/>
    <script src="https://kit.fontawesome.com/fd4f08bda7.js" crossorigin="anonymous"></script>
    <title>Login Page</title>
</head>

<body>
{{template "navbar.html"}}
<section>
    <div class="jumbotron text-center jumboHolder " style="margin-bottom:0">
        <h1 class="mt-5 mt-sm-2 school mb-5">
            School And Parent Communicating System
        </h1>
        <p class="jumboFoster">
            Foster meaningful connections between home and school
        </p>

        <div class="d-inline-flex text-black mt-4 jumboParent">
            <div class=" flex-fill">Teachers say</div>
            <div class="ml-5  flex-fill">Parents say</div>
        </div>
        <div class="d-flex  p-3 text-black justify-content-center">
            <div class=" flex-round star ">
                <i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i
                        class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i
                        class="fas fa-star fa-xs star"></i>
            </div>
            <div class="ml-5  flex-round star">
                <i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i
                        class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i
                        class="fas fa-star fa-xs star"></i>
            </div>
        </div>
        <button type="button" class="btn btn-primary p-3 mt-5 jumboButton">
            Get Started
        </button>
    </div>

    <!-- first one -->
    <div class="jumbotron bg-white jumbotron-fluid ">
        <div class="container firstJumbo">
            <img src="assets/img/School-Home-Communication-Strategies.jpg" alt=""
                 class="img=fluid mt-0 mb-5 mx-auto d-block mb-sm-3 mt-sm-0 mr-sm-0 ml-sm-0 mr-md-5 ml-md-5 image"
                 width="204"/>

            <h5 class="mb-5 mb-sm-3 mb-md-4 mr-md-0 home">
                Home-school communication is centered on the student and their
                learning
            </h5>
            <h5 class="text-primary text-left  mb-md-0 mb-xl-3 font-weight-bold sideText mb-3">
                <span>&check;</span>
                Keep student work and family communication all in one place
            </h5>
            <h5 class="text-primary text-left  ml-md-5 float-left float-xl-none font-weight-bold mb-5 sideText ">
                <span>&check;</span>
                Build family trust and support with ongoing visibility into student
                learning
            </h5>
        </div>
    </div>

    <!-- second one -->
    <div class="jumbotron  jumbotron-fluid  ">
        <div class="container">
            <img src="assets/img/boy reading.jpeg" alt=""
                 class="img=fluid mt-5 mb-5 mx-auto d-block mb-sm-3 mt-sm-0 mr-sm-0 ml-sm-0 mr-md-5 ml-md-5 image2"
                 width="204"/>

            <h5 class="mb-5 mb-sm-5 mb-md-4 mr-md-0 empower">
                Empower students to update their family about classroom learning
            </h5>
            <h5 class=" text-left  mb-md-0 mb-xl-3 font-weight-light sideText mb-3">
                From video reflections to hands-on group projects, students of all
                ages are empowered to add work to their journal where family members
                can see it and leave comments of encouragement
            </h5>
        </div>
    </div>

    <!-- third one -->
    <div class="jumbotron bg-white jumbotron-fluid mb-sm-5 thirdJumbo">
        <div class="container">
            <img src="assets/img/communication.jpeg" alt=""
                 class="img=fluid mt-0 mb-5 mx-auto d-block mb-sm-3 mt-sm-0 mr-sm-0 ml-sm-0 mr-md-5 ml-md-5 image"
                 width="204"/>
            <h5 class="mb-2 mb-sm-3 mb-md-4 mr-md-0 home">
                Safe communication you can control
            </h5>
            <h5 class="mb-2 mb-sm-3 mb-md-4 mr-md-0 mb-xl-0 font-weight-light logo">
                LOGO takes privacy seriously and ensures all data is safe and secure
            </h5>
            <h5 class="text-primary text-left  mb-md-0 mb-xl-0 font-weight-bold sideText mb-2">
                <span>&check;</span>
                Student work comes to you(the teacher) approval
            </h5>
            <h5 class="text-primary text-left  ml-md-5 float-left float-xl-none font-weight-bold mb-2 mb-xl-0 sideText ">
                <span>&check;</span>
                Families only see their own student's work
            </h5>
            <h5 class="text-primary text-left  ml-md-5 float-left float-xl-none font-weight-bold mb-2 sideText ">
                <span>&check;</span>
                You choose if you would like to enable family commenting. All
                comments come to you first before anyone sees them
            </h5>
        </div>
    </div>

    <!-- fourth one -->
    <div class="jumbotron  jumbotron-fluid ">
        <div class="container fourthJumbo">
            <img src="assets/img/phc08_riso.jpg" alt=""
                 class="img=fluid mt-5 mb-5 mx-auto d-block mb-sm-3 mt-sm-0 mr-sm-0 ml-sm-0 mr-md-5 ml-md-5 image2"
                 width="204"/>

            <h5 class="mb-sm-5 mb-md-4 mr-md-0 empower">
                Effective messaging for every occasion
            </h5>
            <!-- <div class="container-fluid"> -->
            <h5 class="mb-2 mb-sm-3 mb-md-4 mr-md-0 mb-xl-0 font-weight-light logo">
                Teachers share photos, videos, links, and files in
            </h5>
            <h5 class="text-primary text-left  mb-md-0 mb-xl-0 font-weight-bold sideText mb-2">
                <span>&check;</span>
                Private messages to individual family members
            </h5>
            <h5
                    class="text-primary text-left ml-xl-0 ml-md-0 float-left float-xl-none font-weight-bold mb-2 mb-xl-0 sideText ">
                <span>&check;</span>
                Announcements to te whole class (students, families, or both)
            </h5>
            <h5 class="text-primary text-left ml-xl-0 ml-md-0 float-left float-xl-none font-weight-bold mb-2 sideText ">
                <span>&check;</span>
                Perfect for newsletters, weekly recaps, and field trip reminders
            </h5>
        </div>
    </div>

    <!-- fifth one -->
    <div class="jumbotron bg-white jumbotron-fluid mb-5 fifthJumbo">
        <div class="container">
            <img src="assets/img/messaging2.png" alt=""
                 class="img=fluid mt-0 mb-5 mx-auto d-block mb-sm-3 mt-sm-0 mr-sm-0 ml-sm-0 mr-md-5 ml-md-5 image"
                 width="204"/>

            <h5 class="mb-2 mb-sm-3 mb-md-4 mr-md-0 home">
                Reach all families in their language
            </h5>
            <h5 class="text-primary text-left  mb-md-0 mb-xl-0 font-weight-bold sideText mb-2">
                <span>&check;</span>
                Help break down language barriers with translation in over 55
                languages
            </h5>
            <h5 class="text-primary text-left  ml-md-5 float-left float-xl-none font-weight-bold mb-2 mb-xl-0 sideText ">
                <span>&check;</span>
                Any text written in LOGO (like notes, captions, comments,
                announcements, or messages) can be translated at the tap of a button
                by both teachers and families
            </h5>
        </div>
    </div>
    <!-- sixth one -->

    <div class="jumbotron container bg-white mb-0 pb-0">
        <div class=" text-center">
            <h2 class="font-weight-900 communication  mb-sm-5">
                One Communication Platform for
            </h2>
        </div>
        <div class="row text-center">
            <div class="card col-md-4 col-sm-12 mb-sm-5">
                <img src="/assets/img/districtadmin.png " class="img-thumbnail mx-auto cardImage border-0" alt=""/>
                <div class="card-body">
                    <h5 class="text-uppercase text-black-50">
                        District Administrators
                    </h5>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Build your district's brand</span>
                    </p>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Improve parent satisfaction</span>
                    </p>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Enable consistency across district</span>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-sm-5">
                <img src="/assets/img/schoolleaders.png" class="img-thumbnail mx-auto cardImage border-0" alt=""/>
                <div class="card-body">
                    <h5 class="text-uppercase text-black-50">school leaders</h5>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Get visibility into school communication</span>
                    </p>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Empower teacher-parent relationships</span>
                    </p>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Build trust and community</span>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-sm-5">
                <img src="/assets/img/itadministrators.png" class="img-thumbnail mx-auto cardImage border-0" alt=""/>
                <div class="card-body">
                    <h5 class="text-uppercase text-black-50">it Administrators</h5>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Fully integrated secure solution</span>
                    </p>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Support for everyone in the district</span>
                    </p>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Managed set up and roll out</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="card col-md-4 col-sm-12 mb-sm-5">
                <img src="/assets/img/teachers.png" class="img-thumbnail mx-auto cardImage border-0" alt=""/>
                <div class="card-body">
                    <h5 class="text-uppercase text-black-50">teachers</h5>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Provide a window into classroom</span>
                    </p>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Experience smooth parent interactions</span>
                    </p>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Spend less time planning</span>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-sm-5">
                <img src="/assets/img/parentleaders.png" class="img-thumbnail mx-auto cardImage border-0" alt=""/>
                <div class="card-body">
                    <h5 class="text-uppercase text-black-50">parent leaders</h5>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Recruit parents to volunteer</span>
                    </p>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Collect payments online, run fundraisers</span>
                    </p>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Increase collaboration and participation</span>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-sm-5">
                <img src="/assets/img/parents.png" class="img-thumbnail mx-auto cardImage border-0" alt=""/>
                <div class="card-body">
                    <h5 class="text-uppercase text-black-50">parents</h5>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Receive communication all in one-place</span>
                    </p>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Relevant to you and your children</span>
                    </p>
                    <p class="text-black-50 mb-0">
                        <span>&bullet; Easy tools to always stay involved</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer one -->
    <footer>
        <div class="jumbotron bg-dark mb-0">
            <div class="container-fluid text-center">
                <div class="mb-4">
                    <a href="#" class="text-white mr-4"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-white mr-4"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="#" class="text-white mr-4"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#" class="text-white mr-4"><i class="fab fa-pinterest fa-lg"></i></a>
                    <a href="#" class="text-white mr-4"><i class="fab fa-youtube fa-lg"></i></a>
                </div>

                <h5 class="text-white text-center mb-4">&copy; 2019 LOGO</h5>
                <div class="footerLinks">
                    <a href="#" class="text-white mr-lg-5 mr-sm-3 mr-2">About LOGO</a>
                    <a href="#" class="text-white mr-lg-5 mr-sm-3 mr-2">Jobs</a>
                    <a href="#" class="text-white mr-lg-5 mr-sm-3 mr-2">Contact</a>
                    <a href="#" class="text-white mr-lg-5 mr-sm-3 mr-2">Activity Library</a>
                    <a href="#" class="text-white mr-lg-5 mr-sm-3 mr-2">Store</a>
                    <a href="#" class="text-white mr-lg-5 mr-sm-3 mr-2">Help Center</a>
                </div>
            </div>
        </div>
    </footer>
</section>
<!-- login modal -->
<div class="modal fade top" id="loginModal">
    <div class="modal-dialog">
        <!-- Login Form -->
        <form action="/login" method="post">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button class="close" data-dismiss="modal" type="button">
                        &times;
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input class="form-control" id="email" name="email" type="email"/>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input class="form-control" id="pwd" name="password" type="password"/>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="customCheck" name="example1" type="checkbox"/>
                        <label class="custom-control-label" for="customCheck">Remember me</label>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer d-block">
                    <button class="btn btn-outline-primary btn-block" type="submit">
                        Login
                    </button>
                </div>
            </div>
        </form>
        <!-- Form End-->
    </div>
</div>
<!-- login modal -->
<script src="/assets/js/jquery-3.4.1.slim.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>