{{define "parentViewResult.layout"}}
    {{template "navbar.html" .User}}
    {{template "parentViewResult" .}}
    {{template "footer"}}
{{end}}

{{define "parentViewResult"}}
    <h2>View Grade</h2>
    <table id="table" class="table  table-borderless  table-hover table-responsive-sm">
        <!-- <thead> -->
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Subject Name</th>
            <th>Assessment</th>
            <th>Final</th>
            <th>Total</th>
        </tr>
        <!-- </thead> -->

        <!-- <tbody> -->
        {{range $index, $item := .Result}}
            <tr>
                <td>{{$item.Student.FirstName}}</td>
                <td>{{$item.Student.MiddleName}}</td>
                <td>{{$item.Subject.SubjectName}}</td>
                <td>Assessment {{$item.Assessment}}</td>
                <td>Final {{$item.Final}}</td>
                <td>Total {{$item.Total}}</td>
            </tr>
        {{end}}
    </table>

    <script src="/assets/js/table.js"></script>
{{end}}