{{define "parentViewResult.layout"}}
    {{template "navbar.html" .User}}
    {{template "parentViewResult" .}}
    {{template "footer"}}
{{end}}

{{define "parentViewResult"}}
    <h5>View Grade</h5>
    <table id="table" class="table  table-borderless  table-hover table-responsive-sm">
        <!-- <thead> -->
        <tr>
            <th>Subject Id</th>
            <th>Assessment</th>
            <th>Test</th>
            <th>Final</th>
            <th>Total</th>
        </tr>
        <!-- </thead> -->

        <!-- <tbody> -->
        {{range $index, $item := .Results}}
            <tr>
                <td>{{$item.SubjectId}}</td>
                <td>{{$item.Assessment}}</td>
                <td>{{$item.Test}}</td>
                <td>{{$item.Final}}</td>
                <td>{{$item.Total}}</td>
            </tr>
        {{end}}
    </table>

    <script src="/assets/js/table.js"></script>
{{end}}