{{define "parentChatPage.layout"}}
    {{template "navbar.html" .User}}
    {{template "parentChatPage" .}}
    {{template "footer"}}
{{end}}

{{define "parentChatPage"}}
    <div class="row rounded-lg overflow-hidden shadow">
        <!-- Parents box-->
        <div class="col-3 px-0">
            <div class="bg-white">
                <div class="bg-gray px-4 py-2 bg-light">
                    <p class="h5 mb-0 py-1">Teacher</p>
                </div>
                <div class="messages-box">
                    <div class="list-group rounded-0">
                        <div class="bg-info border-dark border-top py-3 px-2 mx-1">
                            <div class="d-flex mx-1">
                                <div class="overflow-hidden px-2"><img style="width: 50px; height: 50px;"
                                                                       src="/assets/img/avatar_usae7z.svg" alt=""></div>
                                <h6 class="mb-0 py-2 px-3 flex-fil text-left">{{.Teacher.FirstName}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chat Box-->
        <div class="col-8 px-0">
            <div class="px-4 py-5 chat-box bg-white">
                <!-- Sender Message-->
                <form action="/parent/send" class="bg-light input-message" method="post" val>
                    <div class="input-group">
                        <input type="hidden" name="teacherId" value="{{.Teacher.Id}}">
                        <input name="message" type="text" placeholder="Type a message" aria-describedby="button-addon2"
                               class="form-control rounded-0 border-0 py-4 bg-light">
                        <div class="input-group-append">
                            <button id="button-addon2" type="submit" class="btn">Send</button>
                        </div>
                    </div>
                </form>
                {{range $index, $item := .Messages}}
                    {{if eq $item.From "teacher"}}
                        <div class="media w-50 mb-3"><img
                                    src="/assets/img/avatar_usae7z.svg"
                                    alt="user"
                                    width="50" class="rounded-circle">
                            <div class="media-body ml-3">
                                <div class="bg-light rounded py-2 px-3 mb-2">
                                    <p class="text-small mb-0 text-muted">{{$item.MessageContent}}</p>
                                </div>
                                <p class="small text-muted">12:00 PM | Aug 13</p>
                            </div>
                        </div>
                    {{else}}
                        <!-- Reciever Message-->
                        <div class="media w-50 ml-auto mb-3">
                            <div class="media-body">
                                <div class="bg-primary rounded py-2 px-3 mb-2">
                                    <p class="text-small mb-0 text-white">{{$item.MessageContent}}</p>
                                </div>
                                <p class="small text-muted">12:00 PM | Aug 13</p>
                            </div>
                        </div>
                    {{end}}
                {{end}}
            </div>
        </div>
    </div>
{{end}}