{{define "studentClassMates.layout"}}
    {{template "navbar.html" .User}}
    {{template "studentClassMates" .}}
    {{template "footer"}}
{{end}}

{{define "studentClassMates"}}
    <h2>Class Mates</h2>
    <table>
        <th>
        <td>First Name</td>
        <td>Middle Name</td>
        <td>Email</td>
        </th>
        {{range $index, $item := .ClassMates}}
            <tr>
                <td>{{$item.FirstName}}</td>
                <td>{{$item.MiddleName}}</td>
                <td>{{$item.Email}}</td>
            </tr>
        {{end}}
    </table>
{{end}}