{{define "studentViewResult"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/assets/css/student.css" rel="stylesheet"/>
        <title>Welcome {{.User.Email}}</title>
    </head>
    <body>
    {{template "navbar.html" .User}}
    <h2>View Result</h2>
    <div class="container">
        <table>
            {{range $index, $item := .Result}}
                <tr>
                    <td>{{$item.Subject.SubjectName}}</td>
                    <td>Assessment {{$item.Assessment}}</td>
                    <td>Final {{$item.Final}}</td>
                    <td>Total {{$item.Total}}</td>
                </tr>
            {{end}}
        </table>
    </div>
    <!-- Script Tags -->
    <script src="/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
{{end}}