{{define "studentResources.layout"}}
    {{template "navbar.html" .User}}
    {{template "studentResources" .}}
    {{template "footer"}}
{{end}}

{{define "studentResources"}}
    <div style="width: 400px !important;" class="w-25 px-5 overflow-hidden bg-white"><h5
                class="badge-info mx-5 px-3 rounded text-center">Resources</h5></div>
    <div class="container mb-5">
        <div><a href="/student/resources?subjectId=100" name="subjectId">Maths</a></div>
        <div><a href="/student/resources?subjectId=101" name="subjectId">Physics</a></div>
        <table class="py-5 my-5">
            <tr class="py-5">
                <th class="px-2">File Name</th>
                <th class="px-5">Link</th>
                <th class="px-5">Date</th>
            </tr>
            {{range $index, $item := .Resources}}
                <tr class="py-3">
                    <td class="px-2">{{$item.Title}}</td>
                    <td class="px-5">{{$item.Link}}</td>
                    <td class="px-5">20/02/2019</td>
                </tr>
            {{end}}
        </table>
    </div>
{{end}}