{{define "studentUpdateProfile.layout"}}
    {{template "navbar.html" .User}}
    {{template "studentUpdateProfile"}}
    {{template "footer"}}
{{end}}

{{define "studentUpdateProfile"}}
    <div class="container pt-4">
        <form action="/student/updateProfile">
            <input type="text" name="studentEmail" placeholder="{{.UpdateProfile.Email}}">
            <input type="password" name="studentPassword" placeholder="Password">
            <input type="file" name="studentProfilePic" placeholder="Profile Pic">
            <input type="submit" value="Submit" onsubmit="updateStudentProfile()">
        </form>
    </div>
{{end}}