{{define "studentViewTask"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/assets/css/student.css" rel="stylesheet"/>
        <title>Welcome {{.User.Email}}</title>
    </head>
    <body>
    {{template "navbar.html" .User}}
    <div class="container-fluid row">
        <!-- Recent Column -->
        <div class="col-3 min-width p-0 shadow-sm">
            <div class="bg-light px-2 top-to-bottom">
                <span class="badge badge-info">Assignments</span>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header small p-2">
                            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                Recently added
                            </a>
                        </div>
                        {{$task := .Task}}
                        {{range $index, $item := .Tasks}}
                            {{$task = $item}}
                            <div onclick="UpdateDescription({{$item}})" class="collapse show" data-parent="#accordion"
                                 id="collapseOne">
                                <div class="card">
                                    <div class="card-body p-2">
                                        <h6 class="card-title m-0">{{$item.Title}}</h6>
                                        <p class="card-text m-0 text-muted small">{{$item.ShortDescription}}</p>
                                    </div>
                                </div>
                            </div>
                        {{end}}
                    </div>

                    <div class="card">
                        <div class="card-header small p-2">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                Less than a week
                            </a>
                        </div>
                        <div class="collapse" data-parent="#accordion" id="collapseTwo">
                            <div class="card">
                                <div class="card-body p-2">
                                    <h6 class="card-title m-0">Card title</h6>
                                    <p class="card-text m-0 text-muted small">Some example text. Some example text.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header small p-2">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                Less than a month
                            </a>
                        </div>
                        <div class="collapse" data-parent="#accordion" id="collapseThree">
                            <div class="card">
                                <div class="card-body p-2">
                                    <h6 class="card-title m-0">Card title</h6>
                                    <p class="card-text m-0 text-muted small">Some example text. Some example text.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Recent Column End -->

        <!-- Description Column -->
        <div class="col-9">
            <!-- Description -->
            <div id="contentDescription" style="display: none">
                <div class="card mt-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title" id="taskTitle">{{$task.Title}}</h4>
                        <h6 class="card-title text-muted">Description</h6>
                        <p class="card-text" id="taskDescription">{{$task.Description}}</p>
                        <a href="#" class="card-link">Resources</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <!-- Comments -->
                {{range $index, $item := $task.Comments}}
                    <div class="media border p-1 small mt-2">
                        <img src="../assets/img/tech_tableturner.jpg" alt="John Doe" class="mr-3 mt-1 rounded-circle"
                             style="width:60px;">
                        <div class="media-body">
                            <h6>{{$item.Student.FirstName}}
                                <small><i>Posted on {{$item.CreatedAt}}</i></small>
                            </h6>
                            <p class="m-0">{{$item.Data}}</p>
                        </div>
                    </div>
                {{end}}
            </div>
            <div class="jumbotron" id="notification">
                <h1>Click on tasks to see the detail</h1>
            </div>
            <!-- My Comment -->
            <form action="/student/comment" method="post">
                <div class="input-group mb-3 md-5 mt-2 input-group-sm">
                    <input type="text" class="form-control" name="comment" placeholder="Your comment"/>
                    <input type="hidden" name="taskId" id="taskID" value="{{$task.Id}}"/>
                    <div class="input-group-prepend">
                        <button class="btn">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Script Tags -->
    <script src="/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
{{end}}