{{define "studentClassMates.layout"}}
    {{template "navbar.html" .User}}
    {{template "studentClassMates" .}}
    {{template "footer"}}
{{end}}

{{define "studentClassMates"}}
    <h2>Class Mates</h2>
    <table id="table" class="table  table-borderless  table-hover table-responsive-sm">
        <!-- <thead> -->
        <th>
        <td>First Name</td>
        <td>Middle Name</td>
        <td>Email</td>
        </th>
        <!-- </thead> -->

        <!-- <tbody> -->

        {{range $index, $item := .ClassMates}}
            <tr>
                <td>{{$item.FirstName}}</td>
                <td>{{$item.MiddleName}}</td>
                <td>{{$item.Email}}</td>
            </tr>
        {{end}}
    </table>

    <script src="/assets/js/table.js"></script>
{{end}}