{{define "studentViewResult.layout"}}
    {{template "navbar.html" .User}}
    {{template "studentViewResult" .}}
    {{template "footer"}}
{{end}}

{{define "studentViewResult"}}
    <h2>View Result</h2>
    <table id="table" class="table  table-borderless  table-hover table-responsive-sm">
        <!-- <thead> -->
        <tr>
            <th>Subject Name</th>
            <th>Assessment</th>
            <th>Final</th>
            <th>Total</th>
        </tr>
        <!-- </thead> -->

        <!-- <tbody> -->
            {{range $index, $item := .Result}}
                <tr>
                    <td>{{$item.Subject.SubjectName}}</td>
                    <td>Assessment {{$item.Assessment}}</td>
                    <td>Final {{$item.Final}}</td>
                    <td>Total {{$item.Total}}</td>
                </tr>
            {{end}}
    </table>

    <script src="/assets/js/table.js"></script>
{{end}}