<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/student.css" rel="stylesheet"/>
    <title>Welcome {{.User.Email}}</title>
</head>

<body>
{{template "navbar.html" .User}}
<!-- Page Content -->
{{if .Tasks}}
    {{template "studentViewTask" .Tasks}}
{{else if .Resources}}
    {{template "studentResources" .Resources}}
{{else if .UpdateProfile}}
    {{template "studentUpdateProfile" .UpdateProfile}}
{{else if .Result}}
    {{template "studentViewResult" .Result}}
{{else if .ClassMates}}
    {{template "studentClassMates" .ClassMates}}
{{else}}
    {{template "errorPage"}}
{{end}}
<!-- Script Tags -->
<script src="/assets/js/jquery-3.4.1.slim.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>