{{define "studentResources.layout"}}
    {{template "navbar.html" .User}}
    {{template "studentResources"}}
    {{template "footer"}}
{{end}}

{{define "studentResources"}}
    <h2>Resources</h2>
    <div class="container">
        <div><a href="/student/resources?id=1" name="subjectId">Maths</a></div>
        <div><a href="/student/resources?id=2" name="subjectId">Physics</a></div>
        {{range .Resources}}
            <div>
                <label for="">Title: {{.Resources.Title}}</label>
                <label for="">Description: {{.Resources.Description}}</label>
            </div>
        {{end}}
    </div>
{{end}}