{{define "teacherChatPage.layout"}}
    {{template "navbar.html" .User}}
    {{template "teacherChatPage" .}}
    {{template "footer"}}
{{end}}

{{define "teacherChatPage"}}
    {{/*    <div class="container bg-light row h-75">*/}}
    {{/*        <div class="col-4">*/}}
    {{/*            <div class="bg-primary p-2">Parent</div>*/}}
    {{/*            <div>*/}}
    {{/*                {{range $index, $item := .Parents}}*/}}
    {{/*                    <div class="card">*/}}
    {{/*                        <p id="parentId" class="hide" style="visibility: hidden">{{$item.Id}}</p>*/}}
    {{/*                        <p class="card-title">{{$item.FirstName}}</p>*/}}
    {{/*                    </div>*/}}
    {{/*                {{end}}*/}}
    {{/*            </div>*/}}
    {{/*        </div>*/}}
    {{/*        <div class="col-8 h-100">*/}}
    {{/*            <div class="bg-info p-2">Me</div>*/}}
    {{/*            <div class="h-100 bg-dark">*/}}
    {{/*                <div>*/}}
    {{/*                    <form action="/teacher/send" method="post" onsubmit="getParentId()">*/}}
    {{/*                        <input type="hidden" id="formParentId" name="parentId">*/}}
    {{/*                        <input placeholder="Your message" type="text" name="message"><input type="submit">*/}}
    {{/*                    </form>*/}}
    {{/*                </div>*/}}
    {{/*                <div>*/}}
    {{/*                </div>*/}}
    {{/*                {{range $index, $item := .Messages}}*/}}
    {{/*                    <div class="card bg-{{if eq .From "teacher"}}primary{{else}}info{{end}}">*/}}
    {{/*                        <p class="card-title">message</p>*/}}
    {{/*                    </div>*/}}
    {{/*                {{end}}*/}}
    {{/*            </div>*/}}
    {{/*        </div>*/}}
    {{/*    </div>*/}}


    <div class="row rounded-lg overflow-hidden shadow">
        <!-- Parents box-->
        <div class="col-3 px-0">
            <div class="bg-white">
                <div class="bg-gray px-4 py-2 bg-light">
                    <p class="h5 mb-0 py-1">Parents</p>
                </div>
                <div class="messages-box">
                    <div class="list-group rounded-0">

                        {{range $index, $item := .Parents}}
{{/*                            <div onclick="submitParentId({{$item}})">*/}}
                                <a class="list-group-item list-group-item-action active text-white rounded-0" href="/teacher/receive?parentId={{$item.Id}}">
                                    <div class="media">
                                        <img
                                                src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                                                alt="user" width="50" class="rounded-circle">
                                        <div class="media-body ml-4">
                                            <div class="d-flex align-items-center justify-content-between mb-1">
                                                <h6 class="mb-0">{{$item.FirstName}}</h6>
                                                <small class="small font-weight-bold"></small>
                                            </div>
                                        </div>
                                    </div>
                                </a>
{{/*                            </div>*/}}
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        <!-- Chat Box-->
        <div class="col-8 px-0">
            <div class="px-4 py-5 chat-box bg-white">
                <!-- Sender Message-->
                <form action="/teacher/send" class="bg-light input-message" method="post" val>
                    <div class="input-group">
                        <input type="hidden" id="formParentId" name="parentId" value="2">
                        <input name="message" type="text" placeholder="Type a message" aria-describedby="button-addon2"
                               class="form-control rounded-0 border-0 py-4 bg-light">
                        <div class="input-group-append">
                            <button id="button-addon2" type="submit" class="btn" >Send</button>
                        </div>
                    </div>
                </form>
                {{range $index, $item := .Messages}}
                    {{if eq $item.From "parent"}}
                        <div class="media w-50 mb-3"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                                    alt="user"
                                    width="50" class="rounded-circle">
                            <div class="media-body ml-3">
                                <div class="bg-light rounded py-2 px-3 mb-2">
                                    <p class="text-small mb-0 text-muted">{{$item.MessageContent}}</p>
                                </div>
                                <p class="small text-muted">12:00 PM | Aug 13</p>
                            </div>
                        </div>
                    {{else}}
                        <!-- Reciever Message-->
                        <div class="media w-50 ml-auto mb-3">
                            <div class="media-body">
                                <div class="bg-primary rounded py-2 px-3 mb-2">
                                    <p class="text-small mb-0 text-white">{{$item.MessageContent}}</p>
                                </div>
                                <p class="small text-muted">12:00 PM | Aug 13</p>
                            </div>
                        </div>
                    {{end}}
                {{end}}


            </div>
        </div>
        <!--</div>-->
    </div>
    <script>
        let params = (new URL(document.location)).searchParams;
        document.getElementById("formParentId").value= params.get("parentId");
    </script>

{{end}}