<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/teacher.css"/>
    <link rel="stylesheet" href="/assets/css/datepicker.css"/>
    <script src="https://kit.fontawesome.com/fd4f08bda7.js" crossorigin="anonymous"></script>
    <title>Welcome {{.User.Email}}</title>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
{{template "navbar.html" .User}}
<!-- Page contents -->
{{if or .Post .FetchPost}}
    {{template "teacherMakeNewPost" .Data.FetchPost}}
{{else if .Resource}}
    {{template "teacherUploadResource" .Data.Resource}}
{{else if .UpdateProfile}}
    {{template "teacherUpdateProfile" .Data.UpdateProfile}}
{{else}}
    {{template "errorPage"}}
{{end}}




<div class="modal fade top" id="editModal">
    <div class="modal-dialog">
        <!-- Edit Form -->
        <form action="/teacher/editPost">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button class="close" data-dismiss="modal" type="button">
                        &times;
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <!-- <label for="text">Title:</label> -->
                        <input class="form-control" placeholder="Home work" type="text"/>
                    </div>
                    <div class="form-group">
                        <!-- <label for="date">Date:</label> -->
                        <input type="date" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <!-- <label for="textarea">Description:</label> -->
                        <textarea class="form-control" rows="3" placeholder="Description"></textarea>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer d-block">
                    <button type="submit" class="btn btn-outline-primary btn-block" style="width: 100%;">
                        <i class="fas fa-check-circle" aria-hidden="true"></i> Update
                    </button>
                </div>
            </div>
        </form>
        <!-- Form End-->
    </div>
</div>
<!-- Edit modal -->

<!-- calander modal -->
<div class="modal fade" id="calanderModal" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Choose Your Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" data-toggle="datepicker">
            </div>
            <div class="modal-footer">

                <button type="submit" class="btn btn-outline-primary btn-block" data-dismiss="modal"><span><i
                                class="far fa-calendar-check"></i></span> Submit
                </button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Script Tags -->
<script src="/assets/js/jquery-3.4.1.slim.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/datepicker.js"></script>
<script src="/assets/js/calander.js"></script>
<script src="/assets/js/table.js"></script>
</body>

</html>