.navbar-toggler {
  height: 34px;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}
.navbar-toggler-icon {
  height: 24px;
}
.navbar-nav {
  display: flex;
  margin-left: auto;
}
.badge {
  font-size: 20px !important;
}
.top {
  top: 10% !important;
}
.top-to-bottom {
  height: 95vh;
}
.min-width {
  width: 300px;
}
@media (max-width: 750px) {
  .min-width {
    width: 0 !important;
    overflow: hidden;
    flex: 0 0 0;
  }
  .col-9 {
    flex: 0 0 95%;
    max-width: 95%;
  }
}
@media (max-width: 574px) {
  .badge {
    font-size: 15px !important;
  }
}
