.top{
    top: 10% !important
}
.top-to-bottom{
    height: 95vh;
}
.min-width{
    width: 300px;
}
@media (max-width: 750px) {
    .min-width{
        width: 0 !important;
        overflow: hidden;
        flex: 0 0 0;
    }
    .col-9 {
        flex: 0 0 95%;
        max-width: 95%;
    }
}